body {
    background-color: #e3e3e8;
}

a {
    color: black;
}

body {
    position:relative;
}

.nav {
    margin: -8px 0px 0px 15px;
}

.graphleft {
    float: left; 
    width: 49%;
}

.commentleft {
    background-color: antiquewhite;
    float: left;
    width: 49%;
}

.graphright {
    float: right;
    width: 49%;
}

.commentright {
    background-color: antiquewhite;
    float:right;
    width: 49%;
}
